#####
# Documentation
# Redwood: https://render.com/docs/deploy-redwood
# YAML (all config values): https://render.com/docs/yaml-spec
#####

services:
- name: render-postgres-web
  type: web
  env: static
  buildCommand: cd render-postgres && yarn rw deploy render web
  staticPublishPath: ./render-postgres/web/dist
  envVars:
  - key: NODE_VERSION
    value: 16
  routes:
  - type: rewrite
    source: /.redwood/functions/*
#####
# NOTE: replace destination api url after first deploy to Render
# example:
#   destination: https://myredwoodproject-api.onrender.com/*
#####
    destination: https://render-postgres-api-f0b3.onrender.com/*
  - type: rewrite
    source: /*
    destination: /index.html
- name: render-postgres-api
  type: web
  env: node
  region: oregon
  buildCommand: cd render-postgres && yarn && yarn rw build api && yarn rw prisma migrate deploy
  startCommand: cd render-postgres && yarn rw deploy render api --no-prisma --no-data-migrate
  envVars:
  - key: NODE_VERSION
    value: 16

