# This file contains config for a baremetal deployment
#
# SSH connection options include:
#
# * host - the remote server hostname/IP
# * port - defaults to 22
# * username - required, the user you're connecting as
# * password - only set if you're not using key-based authentication
# * privateKey - local file path to a private key that will be sent with the connection request
# * passphrase - used if your private key has a passphrase
# * agentForward - set to `true` to forward the client machine's ssh credentials
#
# See https://redwoodjs.com/docs/deploy/baremetal for more info

[[production.servers]]
host = "ec2-34-200-219-134.compute-1.amazonaws.com"
username = "ubuntu"
agentForward = true
sides = ["api","web"]
packageManagerCommand = "yarn"
monitorCommand = "pm2"
path = "/var/www/deploy-target-ci/baremetal"
processNames = ["serve"]
repo = "https://github.com/redwoodjs/deploy-target-ci.git"
branch = "main"
keepReleases = 2

[before]
# the app is in a subdirectory so we need to move it to the root before proceeding
symlinkEnv = 'shopt -s dotglob && rm -rf !("baremetal") && cp -R baremetal/* . && rm -rf baremetal'
